@keyframes lds-facebook_1 {
    0% {
        top: -40px;
        height: 280px;
    }
    50% {
        top: 86px;
        height: 28px;
    }
    100% {
        top: 86px;
        height: 28px;
    }
    }
    @-webkit-keyframes lds-facebook_1 {
    0% {
        top: -40px;
        height: 280px;
    }
    50% {
        top: 86px;
        height: 28px;
    }
    100% {
        top: 86px;
        height: 28px;
    }
    }
    @keyframes lds-facebook_2 {
    0% {
        top: -8.5px;
        height: 217px;
    }
    50% {
        top: 86px;
        height: 28px;
    }
    100% {
        top: 86px;
        height: 28px;
    }
    }
    @-webkit-keyframes lds-facebook_2 {
    0% {
        top: -8.5px;
        height: 217px;
    }
    50% {
        top: 86px;
        height: 28px;
    }
    100% {
        top: 86px;
        height: 28px;
    }
    }
    @keyframes lds-facebook_3 {
    0% {
        top: 23px;
        height: 154px;
    }
    50% {
        top: 86px;
        height: 28px;
    }
    100% {
        top: 86px;
        height: 28px;
    }
    }
    @-webkit-keyframes lds-facebook_3 {
    0% {
        top: 23px;
        height: 154px;
    }
    50% {
        top: 86px;
        height: 28px;
    }
    100% {
        top: 86px;
        height: 28px;
    }
    }
    .lds-facebook {
    position: relative;
    }
    .lds-facebook div {
    position: absolute;
    width: 28px;
    }
    .lds-facebook div:nth-child(1) {
    left: 36px;
    background: #49aaee;
    -webkit-animation: lds-facebook_1 1s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    animation: lds-facebook_1 1s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
    }
    .lds-facebook div:nth-child(2) {
    left: 86px;
    background: #49aaee;
    -webkit-animation: lds-facebook_2 1s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    animation: lds-facebook_2 1s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s;
    }
    .lds-facebook div:nth-child(3) {
    left: 136px;
    background: #49aaee;
    -webkit-animation: lds-facebook_3 1s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    animation: lds-facebook_3 1s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    }
    .lds-facebook {
    width: 200px !important;
    height: 200px !important;
    -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
    transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
    }