login-menu .navbar-brand *:first-child {
  font-family: "Segoe UI", sans-serif; }

body {
  background-color: #F3F5F9;
  font-family: "Segoe UI", sans-serif;
  overflow: hidden; }

.nav {
  font-family: "Segoe UI", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Segoe UI", sans-serif; }

label {
  font-family: "Segoe UI", sans-serif; }

.k-grid-header th.k-header, .k-treemap-
, .k-grid-header .k-header > .k-link, .k-window-titlebar.k-header {
  font-family: "Segoe UI", sans-serif; }

.k-button.k-grid-add {
  font-family: "Segoe UI", sans-serif; }

.app-name {
  font-family: "Segoe UI", sans-serif; }

.k-tabstrip .k-tabstrip-items {
  font-family: "Segoe UI", sans-serif; }

.navbar-header > .navbar-brand {
  font-family: "Segoe UI", sans-serif; }

.k-loading-mask {
  z-index: 100000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh; }

#page-loading.k-loading-mask:first-child {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3); }

nav.bg-dark {
  background-color: #333; }

div.content {
  padding-right: 2em;
  padding-left: 2em;
  overflow: auto;
  margin-top: 3.5em;
  padding-top: 2em;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: white; }

.footer {
  position: absolute;
  bottom: 1px;
  width: 100%;
  height: 3em;
  line-height: 3em;
  background-color: #343a40; }

.container {
  width: auto;
  max-width: fit-content;
  padding: 0 15px; }
  .container span.text-muted {
    font-size: 0.8em; }

header {
  position: fixed;
  width: 100%;
  z-index: 90;
  top: 0;
  overflow: hidden; }

.navbar-brand {
  padding: 0; }
  .navbar-brand img.logo-img {
    width: 2em; }

nav.navbar-expand-lg ul.navbar-nav li.active a.nav-link:hover,
nav.navbar-expand-lg ul.navbar-nav li a.nav-link:hover {
  background-color: #49aaee;
  border-radius: 0.2em;
  color: white; }

nav.navbar-expand-lg ul.navbar-nav li.active a.nav-link {
  background-color: #49aaee;
  border-radius: 0.2em;
  color: white; }

nav.navbar-expand-lg ul.navbar-nav li {
  margin-left: 0.5rem; }
  nav.navbar-expand-lg ul.navbar-nav li a.nav-link {
    padding-left: 1rem;
    padding-right: 1rem; }

.error-img img {
  height: 10rem; }

ul.list-group.list-group-flush {
  overflow: auto;
  max-height: 44em; }
  ul.list-group.list-group-flush li a.list-group-item:hover,
  ul.list-group.list-group-flush li a.list-group-item.active {
    background-color: #007bff !important;
    border-color: #007bff !important; }
  ul.list-group.list-group-flush li a.list-group-item:hover {
    cursor: pointer; }

div.card .card-header > p {
  display: inline;
  margin: 0; }

video {
  max-width: calc(50% - 100px);
  margin: 0 50px;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 0;
  background: white; }
