<div class="row">
    <div class="col-md-12">
        <div class="card text-white bg-dark mb-3">
            <div class="card-header"> 
                <h2>Conversation</h2>
                <button type="button" class="btn btn-primary" ng-click="openRoomWindow()">Change room</button>
                <button type="button" class="btn btn-primary" ng-click="copyRoom()">Copy room code</button>
            </div>
            <div class="card-body">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <video id="localVideo" autoplay muted></video>
                        </div>
                        <div class="col-md-6">
                            <video id="remoteVideo" autoplay></video>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<room-code-window open-window-name="openRoomWindow" on-save="changeRoom"></room-code-window>